params {

    // DISCOVERY
    alignment = "$baseDir/examples/MSA/*"
    ali_format = "phylip-relaxed"
    traitfile = "$baseDir/examples/config.tab"
    /* discovery_params = """
     *    --patterns 1,2,3 \\
     *   --max_bg_gaps 0 \\
     *   --max_fg_gaps 0 \\
     *   --max_gaps 0 \\
     *   --max_gaps_per_position 0.5 \\
     *   --max_bg_miss 0 \\
     *   --max_fg_miss 0 \\
     *   --max_miss 0
     *"""
     */
     // RESAMPLE
     
// email = ""
}

