/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

/*     withName: INPUT_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    } */

    withName: 'DISCOVERY' {
        ext.args = '--patterns 1,2,3 --max_bg_gaps NO --max_fg_gaps NO --max_gaps NO --max_gaps_per_position 0.5 --max_bg_miss NO --max_fg_miss NO --max_miss NO'
        publishDir = [
            path: { "${params.outdir}/discovery" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

/*     withName: 'RESAMPLE' {
        ext.args = '--patterns 1,2,3 --max_bg_gaps NO --max_fg_gaps NO --max_gaps NO --max_gaps_per_position 0.5 --max_bg_miss NO --max_fg_miss NO --max_miss NO'
        publishDir = [
            path: { "${params.outdir}/discovery" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BOOTSTRAP' {
        ext.args = '--patterns 1,2,3 --max_bg_gaps NO --max_fg_gaps NO --max_gaps NO --max_gaps_per_position 0.5 --max_bg_miss NO --max_fg_miss NO --max_miss NO'
        publishDir = [
            path: { "${params.outdir}/discovery" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    } */

}
